@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: rgba(0, 0, 0, 0);
    margin: 0px auto;
    overflow: hidden;
}

#container {
    width: 1000px;
    height: 200px;
    display: flex;
    opacity: 0;
}

#div-cover {
    width: 20%;
    z-index: 100;
    background-color: #121212;

    order: 0;
}

#cover {
    height: 100%;
}

#div-song {
    width: 80%;
    display: flex;
    background-color: #121212;
    flex-direction: column;
}

#div-song>div {
    padding-left: 2%;
    padding-right: 2%;
    overflow: hidden;
}

#div-title {
    height: 45%;
    display: flex;
    align-items: center;

    order: 0;
}

#div-artist {
    height: 30%;
    display: flex;
    align-items: center;

    order: 1;
}

#div-album {
    height: 25%;
    display: flex;
    align-items: center;

    order: 2;
}

span {
    white-space: nowrap;
}

#title {
    color: #ffffff;
    font-weight: bold;
    font-size: 48px;
    font-family: "Helvetica Neue", sans-serif;
    text-align: right;
}

#artist {
    color: #707070;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 36px;
    font-weight: bold;
    font-family: "Helvetica Neue", sans-serif;
}

#album {
    color: #7b7ba7;
    font-weight: 600;
    font-size: 32px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
}


.scrolling {
    animation: slide 20s linear infinite;
    animation-delay: -10s;
}

@keyframes slide {
    0% {
        transform: translateX(100%);
    }

    50% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* fadeIn, slideInUp, slideInDown, slideInRight, slideInLeft */
.animateIn {
    /*animation:
         slideInRight 0.5s,
        hold 4.5s 0.5s,
        slideOutUp 0.5s 5s; */

    animation: slideInRight 0.5s;
}

/* fadeOut, slideOutDown, slideOutUp, slideOutLeft, slideOutRight */
.animateOut {
    animation: slideOutRight 0.5s;
}

@keyframes hold {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes slideInUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: none;
        opacity: 1;
    }
}

@keyframes slideOutDown {
    0% {
        transform: none;
        opacity: 1;
    }

    100% {
        transform: translateY(100%);
        opacity: 0;
    }
}

@keyframes slideInDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: none;
        opacity: 1;
    }
}

@keyframes slideOutUp {
    0% {
        transform: none;
        opacity: 1;
    }

    100% {
        transform: translateY(-100%);
        opacity: 0;
    }
}

@keyframes slideInRight {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: none;
        opacity: 1;
    }
}

@keyframes slideOutLeft {
    0% {
        transform: none;
        opacity: 1;
    }

    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}

@keyframes slideInLeft {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: none;
        opacity: 1;
    }
}

@keyframes slideOutRight {
    0% {
        transform: none;
        opacity: 1;
    }

    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}