@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #121212;
    margin: 0px auto;
    overflow: hidden;
}

#container {
    width: 1000px;
    height: 200px;
    display: flex;
}

#div-cover {
    width: 20%;
    z-index: 100;
    background-color: #121212;

    /* Display cover on the 0: left side / 1: right side */
    order: 0;
}

#div-song {
    width: 80%;
    z-index: -100;
}

#cover {
    height: 100%;
}

#div-song {
    display: flex;
    flex-direction: column;
}

#div-song>div {
    padding-left: 2%;
    padding-right: 2%;
    overflow: hidden;
}

#div-title {
    height: 45%;
    display: flex;
    align-items: center;

    order: 0;
}

#div-artist {
    height: 30%;
    display: flex;
    align-items: center;

    order: 1;
}

#div-album {
    height: 25%;
    display: flex;
    align-items: center;

    order: 2;
}

span {
    white-space: nowrap;
}

#title {
    color: #ffffff;
    font-weight: bold;
    font-size: 48px;
    font-family: "Helvetica Neue", sans-serif;
    text-align: right;
}

#artist {
    color: #707070;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 36px;
    font-weight: bold;
    font-family: "Helvetica Neue", sans-serif;
}

#album {
    color: #7b7ba7;
    font-weight: 600;
    font-size: 32px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
}


.scrolling {
    animation: slide 20s linear infinite;
}

@keyframes slide {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}