@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#container {
    width: 1000px;
    height: 200px;
    display: flex;
    background-color: #121212;
}

#div-cover {
    width: 20%;
    z-index: 100;
}

#div-song {
    width: 80%;
}

#cover {
    height: 100%;
}

#div-song>div {
    padding-left: 2%;
}

#title {
    white-space: nowrap;
}

#artist {
    white-space: nowrap;
}

#album {
    white-space: nowrap;
}

#div-title {
    height: 45%;
    color: #ffffff;
    font-weight: bold;
    font-size: 48px;
    font-family: "Helvetica Neue", sans-serif;
    display: flex;
    align-items: center;
}

#div-artist {
    height: 30%;
    color: #707070;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 36px;
    font-weight: bold;
    font-family: "Helvetica Neue", sans-serif;
    display: flex;
    align-items: center;
}

#div-album {
    height: 25%;
    color: #7b7ba7;
    font-weight: 600;
    font-size: 32px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
}


.scrolling {
    animation: slide 20s linear infinite;
}

@keyframes slide {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}